*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Nunito;
}
section{
     width: 1440px;
     height: 810px;
     margin: auto;
     display: flex;
}
section .contentBX{
     display: flex;
     position: relative;
     width: 200px;
     height: 810px;
     background-color:#dbdbdb;
     justify-content: center;
     align-items: center;
     border-top-left-radius: 16px;
     border-bottom-left-radius: 16px;
}
section .contentBX .formBX{
     position: fixed;
}
section .contentBX .formBX img{
     position: absolute;
     width: 100px;
     transform: translate(20px,-220px);
     margin-bottom: -450px;
}
section .contentBX .formBX .iconBX{
     position: relative;
     display: flex;
     margin-left: 30px;
     margin-bottom: 50px;
     transform: translate(0px ,-60px);
     flex-direction: column;
}
section .contentBX .formBX .iconBX ul{
     
}
section .contentBX .formBX .iconBX ul li {
     font-size: 16px;
     font-weight: 600;
     line-height: 24px;
     color: #7E7D88;
     margin-bottom: 20px;
}
section .contentBX .formBX .iconBX ul li span{
     font-size: 20px;
     font-weight: 600;
     color: #7E7D88;
     padding-right: 5px;
     display: block;
     position: absolute;
     left:-25px;
}
section .contentBX .formBX .logoutBx{
     width: 176px;
     height: 48px;
     background-color: #FFF2E7;
     position: absolute;
     border-radius: 8px;
     display: flex;
     margin-left: -15px;
     justify-content: center;
     align-items: center;
     margin-top: 235px;
     transform: translate(0px ,-60px);
}
section .contentBX .formBX .logoutBx {
     font-size: 16px;
     font-weight: 600;
     line-height: 24px;
     color: #FF7506;
}
section .contentBX .formBX .logoutBx span{
     font-size: 20px;
     font-weight: 600;
     color: #FF7506;
     margin-bottom: 20px;
     position: absolute; 
     top: 12px;
     left: 10px;
}
/*-------------------------------------------------------------*/
section .bodyBx{
     width: 1240px;
     height: 810px;
     background-color: #B1B1B1;
     border-bottom-right-radius: 16px;
     border-top-right-radius: 16px;
}
section .bodyBx .bodyBx-info{
     display: flex;
     position: relative;
}
section .bodyBx .bodyBx-info .bodyBx-info-right{
     position: absolute;
     top: 35.67px;
     left: 957.59px;
     width: 4.71px;
     height: 1.67px;
}
section .bodyBx .bodyBx-info .bodyBx-info-right-two img{
     position: absolute;
     top: 24px;
     left: 1004px;
     width: 40px;
     height: 40px;
}
section .bodyBx .bodyBx-info .bodyBx-info-right-two h1{
     position: absolute;
     width: 47px;
     height: 18px;
     top: 24px;
     left: 1052px;
     font-weight: 400;
     font-size: 12px;
     line-height: 18px;
     color: #7E7D88;
}
section .bodyBx .bodyBx-info .bodyBx-info-right-two h2{
     width: 124px;
     height: 24px;
     font-size: 16px;
     font-weight: 700;
     line-height: 24px;
     position: absolute;
     color: #535261;
     left: 1052px;
     top: 42px;
}
section .bodyBx .bodyBx-info .bodyBx-info-header{
     display: inline-flex;
}
section .bodyBx .bodyBx-info .bodyBx-info-header h1{
     position: absolute;
     width: 71px;
     height: 30px;
     top: 29px;
     left: 24px;
     font-weight: 700;
     line-height: 30px;
     font-size: 20px;
     color: #7E7D88;
}
section .bodyBx .bodyBx-info .bodyBx-info-header h2{
     position: absolute;
     width: 167px;
     height: 30px;
     top: 29px;
     left: 131px;
     font-weight: 700;
     line-height: 30px;
     font-size: 20px;
     color: #7E7D88;
}
section .bodyBx .bodyBx-info .bodyBx-info-header h3{
     position: absolute;
     width: 124px;
     height: 30px;
     top: 29px;
     left: 334px;
     font-weight: 700;
     line-height: 30px;
     font-size: 20px;
     color: #FF7506;
}
section .bodyBx .bodyBx-info .bodyBx-info-title h1{
     position: absolute;
     width: 169px;
     height: 36px;
     top: 104px;
     left: 24px;
     font-weight: 700;
     line-height: 36px;
     font-size: 24px;
     color: #FF7506;
}
/*-------------------------------------------------------------------------*/
section .bodyBx .bodyBx-table{
     display: flex;
     position: relative;
}
section .bodyBx .bodyBx-table .bodyBx-table-form{
     position: absolute;
     width: 1152px;
     height: 550px;
     background-color: #FFFFFF;
     top: 156px;
     left: 24px;
     border-radius: 16px;
}
section .bodyBx .bodyBx-table .bodyBx-table-form .bodyBx-table-form-title h1{
     position: absolute;
     width: 160px;
     height: 30px;
     top: 16px;
     left: 24px;
     font-weight: 700;
     font-size: 20px;
     line-height: 30px;
     color: #FF7506;
}
section .bodyBx .bodyBx-table .bodyBx-table-form .bodyBx-table-form-content{
     display: flex;
     position: relative;
}
section .bodyBx .bodyBx-table .bodyBx-table-form .bodyBx-table-form-content ul{
     position: absolute;
}
section .bodyBx .bodyBx-table .bodyBx-table-form .bodyBx-table-form-content ul li{
     list-style: none;
     position: absolute;
}
section .bodyBx .bodyBx-table .bodyBx-table-form .bodyBx-table-form-content ul li:nth-child(1) h1{
     position: absolute;
     width: 81px;
     height: 24px;
     top: 66px;
     left: 24px;
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;
     color: #282739;
}
section .bodyBx .bodyBx-table .bodyBx-table-form .bodyBx-table-form-content ul li:nth-child(1) input{
     position: absolute;
     width: 540px;
     height: 44px;
     top: 98px;
     left: 24px;
     border-radius: 8px;
     padding: 10px 270px 10px 12px;
     color: #A9A9B0;
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
}
section .bodyBx .bodyBx-table .bodyBx-table-form .bodyBx-table-form-content ul li:nth-child(2) h1{
     position: absolute;
     width: 89px;
     height: 24px;
     top: 66px;
     left: 588px;
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;
     color: #282739;
}
section .bodyBx .bodyBx-table .bodyBx-table-form .bodyBx-table-form-content ul li:nth-child(2) input{
     position: absolute;
     width: 540px;
     height: 44px;
     top: 98px;
     left: 588px;
     border-radius: 8px;
     padding: 10px 270px 10px 12px;
     color: #A9A9B0;
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
}
section .bodyBx .bodyBx-table .bodyBx-table-form .bodyBx-table-form-content ul li:nth-child(3) h1{
     position: absolute;
     width: 85px;
     height:24px;
     top: 158px;
     left: 24px;
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;
     color: #282739;
}
section .bodyBx .bodyBx-table .bodyBx-table-form .bodyBx-table-form-content ul li:nth-child(3) input{
     position: absolute;
     width: 540px;
     height: 44px;
     top: 190px;
     left: 24px;
     border-radius: 8px;
     padding: 10px 270px 10px 12px;
     color: #A9A9B0;
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
}
section .bodyBx .bodyBx-table .bodyBx-table-form .bodyBx-table-form-content ul li:nth-child(4) h1{
     position: absolute;
     width: 112px;
     height:24px;
     top: 158px;
     left: 588px;
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;
     color: #282739;
}
section .bodyBx .bodyBx-table .bodyBx-table-form .bodyBx-table-form-content ul li:nth-child(4) input{
     position: absolute;
     width: 540px;
     height: 44px;
     top: 190px;
     left: 588px;
     border-radius: 8px;
     padding: 10px 270px 10px 12px;
     color: #A9A9B0;
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
}
section .bodyBx .bodyBx-table .bodyBx-table-form .bodyBx-table-form-content ul li:nth-child(5) h1{
     position: absolute;
     width: 79px;
     height:24px;
     top: 250px;
     left: 24px;
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;
     color: #282739;
}
section .bodyBx .bodyBx-table .bodyBx-table-form .bodyBx-table-form-content ul li:nth-child(5) input{
     position: absolute;
     width: 540px;
     height: 44px;
     top: 282px;
     left: 24px;
     border-radius: 8px;
     padding: 10px 270px 10px 12px;
     color: #A9A9B0;
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
}
section .bodyBx .bodyBx-table .bodyBx-table-form .bodyBx-table-form-content ul li:nth-child(6) h1{
     position: absolute;
     width: 75px;
     height:24px;
     top: 250px;
     left: 588px;
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;
     color: #282739;
}
section .bodyBx .bodyBx-table .bodyBx-table-form .bodyBx-table-form-content ul li:nth-child(6) input{
     position: absolute;
     width: 540px;
     height: 44px;
     top: 282px;
     left: 588px;
     border-radius: 8px;
     padding: 10px 270px 10px 12px;
     color: #A9A9B0;
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
}
section .bodyBx .bodyBx-table .bodyBx-table-form .bodyBx-table-form-content ul li:nth-child(7) h1{
     position: absolute;
     width: 122px;
     height:24px;
     top: 342px;
     left: 24px;
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;
     color: #282739;
}
section .bodyBx .bodyBx-table .bodyBx-table-form .bodyBx-table-form-content ul li:nth-child(7) input{
     position: absolute;
     width: 1104px;
     height: 44px;
     top: 374px;
     left: 24px;
     border-radius: 8px;
     padding: 10px 270px 10px 12px;
     color: #A9A9B0;
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
}
section .bodyBx .bodyBx-table .bodyBx-table-form .bodyBx-table-form-content ul li:nth-child(8) p{
     position: absolute;
     width: 6px;
     height:6px;
     top: 443px;
     left: 24px;
     color: #FF4747;
}
section .bodyBx .bodyBx-table .bodyBx-table-form .bodyBx-table-form-content ul li:nth-child(8) h1{
     position: absolute;
     width: 179px;
     height:21px;
     top: 436px;
     left: 34px;
     color: #7E7D88;
     font-weight: 400;
     font-size: 14px;
     line-height: 21px;
}
/*-----------------------------------------------------*/
section .bodyBx .bodyBx-button{
     display: flex;
     position: relative;
}
section .bodyBx .bodyBx-button .bodyBx-button-center{
     display: flex;
     position: absolute;
}
section .bodyBx .bodyBx-button .bodyBx-button-center .bodyBx-button-center-one{
     display: flex;
     position: absolute;
}
section .bodyBx .bodyBx-button .bodyBx-button-center .bodyBx-button-center-one button{
     position: absolute;
     left: 434.5px;
     top: 730px;
     width: 147px;
     height: 48px;
     border-radius: 8px;
     color: #FF9138;
     background-color: #FFF2E7;
     border: 1.5px solid #FF9138;
     font-weight: 700;
     font-size: 16px;
     line-height: 21.82px;
     padding: 10px 24px 10px 24px;
}
section .bodyBx .bodyBx-button .bodyBx-button-center .bodyBx-button-center-two button{
     position: absolute;
     left: 613.5px;
     top: 730px;
     width: 147px;
     height: 48px;
     border-radius: 8px;
     color: #FFFFFF;
     background-color: #FF9138;
     border: 1.5px solid #FF9138;
     font-weight: 700;
     font-size: 16px;
     line-height: 21.82px;
     padding: 10px 24px 10px 24px;
}