*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Nunito;
}
section{
     width: 1440px;
     height: 810px;
     margin: auto;
}
.dashRp{
     width: 200px;
     height: 810px;
     background-color:#dbdbdb;
     justify-content: center;
     align-items: center;
     border-top-left-radius: 16px;
     border-bottom-left-radius: 16px;
}
.dashRp__form{
     display: flex;
     position: relative;
}
.dashRp__formImage{
     position: absolute;
     width: 79.19px;
     height: 53.14px;
     top: 32px;
     left: 60.81px;
}
.dashRp__formIcon{
     display: flex;
}
.dashRp__formIcon ul{
     position: absolute;
     align-items: center;
     justify-content: center;
     top: 150px;
     left: 0px;
     width: 200px;
}
.dashRp__formIcon ul li{
     display: flex;
     list-style: none;
}
.dashRp__formIcon ul li:hover{
     background-color: #FF7506;
}
.dashRp__formIcon ul li:nth-child(1){
     width: 200px;
     height: 48px;
     color: #7E7D88;
}
.dashRp__formIcon ul li:nth-child(1):hover{
     color:#FFFFFF;
}
.dashRp__formIcon ul li:nth-child(1) span{
     width: 7.08px;
     height: 5px;
     position: absolute;
     top: 12px;
     left: 17px;
}
.dashRp__formIcon ul li:nth-child(1) p{
     width: 81px;
     height: 24px;
     position: absolute;
     top: 12px;
     left:44px;
     font-family: 600;
     font-size: 16px;
     line-height: 24px;
}
.dashRp__formIcon ul li:nth-child(2){
     width: 200px;
     height: 48px;
}
.dashRp__formIcon ul li:nth-child(2) span{
     width: 16.67px;
     height: 12.68px;
     position: absolute;
     top: 60px;
     left: 17px;
}
.dashRp__formIcon ul li:nth-child(2) p{
     width: 56px;
     height: 24px;
     position: absolute;
     top: 60px;
     left:44px;
     font-family: 600;
     font-size: 16px;
     line-height: 24px;
}
.dashRp__formIcon ul li:nth-child(3){
     width: 200px;
     height: 48px;
}
.dashRp__formIcon ul li:nth-child(3) span{
     width: 16.67px;
     height: 12.68px;
     position: absolute;
     top: 108px;
     left: 17px;
}
.dashRp__formIcon ul li:nth-child(3) p{
     width: 55px;
     height: 24px;
     position: absolute;
     top: 108px;
     left:44px;
     font-family: 600;
     font-size: 16px;
     line-height: 24px;
}
.dashRp__formIcon ul li:nth-child(4){
     width: 200px;
     height: 48px;
}
.dashRp__formIcon ul li:nth-child(4) span{
     width: 16.67px;
     height: 12.68px;
     position: absolute;
     top: 156px;
     left: 17px;
}
.dashRp__formIcon ul li:nth-child(4) p{
     width: 50px;
     height: 24px;
     position: absolute;
     top: 156px;
     left:44px;
     font-family: 600;
     font-size: 16px;
     line-height: 24px;
}
.dashRp__formIcon ul li:nth-child(5){
     width: 200px;
     height: 48px;
}
.dashRp__formIcon ul li:nth-child(5) span{
     width: 16.67px;
     height: 12.68px;
     position: absolute;
     top: 204px;
     left: 17px;
}
.dashRp__formIcon ul li:nth-child(5) p{
     width: 58px;
     height: 24px;
     position: absolute;
     top: 204px;
     left:44px;
     font-family: 600;
     font-size: 16px;
     line-height: 24px;
}
.dashRp__formIcon ul li:nth-child(6){
     width: 200px;
     height: 48px;
}
.dashRp__formIcon ul li:nth-child(6) span{
     width: 16.67px;
     height: 12.68px;
     position: absolute;
     top: 252px;
     left: 17px;
}
.dashRp__formIcon ul li:nth-child(6) p{
     width: 120px;
     height: 24px;
     position: absolute;
     top: 252px;
     left:44px;
     font-family: 600;
     font-size: 16px;
     line-height: 24px;
     text-decoration: none;
}
.dashRp__formIcon ul li:nth-child(6) li{
     width: 18px;
     height: 28px;
     position: absolute;
     top: 252px;
     left:174px;
     font-size: 25px;
}
.dashRp__formIcon ul li:nth-child(6) li:hover .dashRp__formIcon__devide{
     display: block;
}
.dashRp__formIcon__devide{
     position: absolute;
     display: none;
     width: 200px;
     height: 144px;
     background-color: #FFFFFF;
     left: -174.5px;
     top: 25px;
}
.dashRp__formIcon__devideOne{
     width: 200px;
     height: 44px;
     position: absolute;
     background-color: #FF9138;
}
.dashRp__formIcon__devideOne h1{
     position: absolute;
     top: 12px;
     left: 16px;
     width: 108px;
     height: 24px;
     font-size: 16px;
     line-height: 24px;
     font-weight: 700;
     color: #FFFFFF;
}
.dashRp__formIcon__devideTwo{
     width: 200px;
     height: 44px;
     position: absolute;
     top: 48px;
}
.dashRp__formIcon__devideTwo:hover{
     background-color: #FFF2E7;
}
.dashRp__formIcon__devideTwo h2{
     position: absolute;
     top: 12px;
     left: 16px;
     width: 127px;
     height: 24px;
     font-size: 16px;
     line-height: 24px;
     font-weight: 600;
     color: #7E7D88;
}
.dashRp__formIcon__devideThree{
     width: 200px;
     height: 44px;
     position: absolute;
     top: 96px;
}
.dashRp__formIcon__devideThree:hover{
     background-color: #FFF2E7;
}
.dashRp__formIcon__devideThree h3{
     position: absolute;
     top: 12px;
     left: 16px;
     width: 143px;
     height: 24px;
     font-size: 16px;
     line-height: 24px;
     font-weight: 600;
     color: #7E7D88;
}
.dashRp__formLogout{
     display: flex;
}
.dashRp__formLogout ul{
     position: relative;
}
.dashRp__formLogout ul li{
     position: absolute;
     list-style: none;
     display: flex;
     width: 176px;
     height: 48px;
     top: 732px;
     left: 12px;
     background-color: #FFF2E7;
}
.dashRp__formLogout ul li span{
     width: 5px;
     position: absolute;
     height: 15px;
     top: 16.5px;
     left: 14.5px;
     color: #FF7506;
}
.dashRp__formLogout ul li p{
     position: absolute;
     width: 76px;
     height: 24px;
     top: 12px;
     left: 44px;
     font-family: 600;
     font-size: 16px;
     line-height: 24px;
     color: #FF7506;
}
/*-----------------------------------------------*/
.bodyAro{
     width: 1240px;
     height: 810px;
     background-color: #B1B1B1;
     border-bottom-right-radius: 16px;
     border-top-right-radius: 16px;
}
.bodyAro__table{
     display: flex;
     position: relative;
}
.bodyAro__tableHeader__right{
     position: absolute;
     width: 4.71px;
     height: 1.67px;
     top: 35.67px;
     left: 957.59px;
}
.bodyAro__tableHeader__rightTwo img{
     position: absolute;
     width: 40px;
     height: 40px;
     top: 24px;
     left: 1004px;
}
.bodyAro__tableHeader__rightTwo h1{
     width: 47px;
     height: 18px;
     font-size: 12px;
     font-weight: 400;
     line-height: 18px;
     color: #7E7D88;
     position: absolute;
     left: 1052px;
     top: 24px;
}
.bodyAro__tableHeader__rightTwo h2{
     width: 124px;
     height: 24px;
     font-size: 16px;
     font-weight: 700;
     line-height: 24px;
     position: absolute;
     color: #535261;
     left: 1052px;
     top: 42px;
}
.bodyAro__tableHeader{
     display: inline-flex;
}
.bodyAro__tableHeader h1{
     position: absolute;
     width: 153px;
     height: 30px;
     top: 29px;
     left: 24px;
     font-weight: 700;
     line-height: 30px;
     font-size: 20px;
     color: #7E7D88;
}
.bodyAro__tableHeader ul li{
     list-style: none;
}
.bodyAro__tableHeader ul li:nth-child(1) img{
     position: absolute;
     top: 39.63px;
     left: 192.4px;
     width: 5.21px;
     height: 8.74px;
     color: #7E7D88;
}
.bodyAro__tableHeader h2{
     position: absolute;
     width: 135px;
     height: 30px;
     top: 29px;
     left: 213px;
     font-weight: 700;
     line-height: 30px;
     font-size: 20px;
     color: #7E7D88;
}
.bodyAro__tableHeader ul li:nth-child(2) img{
     position: absolute;
     top: 39.63px;
     left: 363.4px;
     width: 5.21px;
     height: 8.74px;
     color: #7E7D88;
}
.bodyAro__tableHeader h3{
     position: absolute;
     width: 117px;
     height: 30px;
     top: 29px;
     left: 384px;
     font-weight: 700;
     line-height: 30px;
     font-size: 20px;
     color: #FF7506;
}
.bodyAro__tableHeader h4{
     position: absolute;
     width: 193px;
     height: 36px;
     top: 104px;
     left: 24px;
     font-weight: 700;
     line-height: 36px;
     font-size: 24px;
     color: #FF7506;
}
/*------------------------------------------------------------*/
.bodyAro__form{
     position: relative;
}
.bodyAro__formBig{
     position: absolute;
     width: 1192px;
     height: 543px;
     background-color: #FFFFFF;
     top: 172px;
     left: 24px;
}
.bodyAro__formBig__left h1{
     position: absolute;
     width: 154px;
     height: 30px;
     top: 16px;
     left: 24px;
     font-weight: 700;
     line-height: 30px;
     font-size: 20px;
     color: #FF7506;
}