*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Nunito;
}
section{
     width: 1440px;
     height: 810px;
     display: flex;
     margin: auto;
}
section .contentBx{
     display: flex;
     position: relative;
     width: 592px;
     height: 810px;
     background-color: #F6F6F6;
     border-radius: 16px;
     justify-content: center;
     align-items: center;
}
section .contentBx .formBx{
     
}
section .contentBx .formBx img{
     position: absolute;
     top: 82px;
     left: 150px;
}
section .contentBx .titleFrC{
     
}
section .contentBx .formBx .titleFrC h1{
     position: absolute;
     top: 290px;
     width: 211px;
     height: 33px;
     left: 198px;
     font-size: 22px;
     font-weight: 700;
     line-height: 33px;
     color: #282739;
}
section .contentBx .formBx .inputBxC{
     margin-bottom: 10px;
    
}
section .contentBx .formBx .inputBXC{
     
}
section .contentBx .formBx .inputBXC button{
     width: 162px;
     height: 40px;
     border-radius: 8px;
     padding: 10px 24px 10px 24px;
     background-color:  #FF9138;
     border: 1.5px solid #FF9138;
     color: #E7E9F2;
     position: absolute;
     left: 219px;
     top: 579px;
}
section .contentBx .formBx .inputBxC span{
     display: flex;
     flex-direction: row;
     font-size: 18px;
     line-height: 27px;
     font-weight: 400;   
     color: #37474F;
}
section .contentBx .formBx .inputBxC input{
     width: 400px;
     height: 44px;
     border-radius: 8px; 
     padding: 10px 270px 10px 12px;
     border: 1.5px solid #D4D4D7;
}
section .contentBx .formBx .inputBxC button{
     width: 400px;
     height: 44px;
     border-radius: 8px; 
     padding: 10px 270px 10px 12px;
     border: 1.5px solid #D4D4D7;
}
section .imgBx{
     display: flex;
}
section .imgBx img{
     width: 848px;
     height: 810px;
}