*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Nunito;
}
section{
     width: 1440px;
     height: 810px;
     display: flex;
     margin: auto;
}
section .contentBx{
     display: flex;
     position: relative;
     width: 592px;
     height: 810px;
     background-color: #F6F6F6;
     border-radius: 16px;
     justify-content: center;
     align-items: center;
}
section .contentBx .formBx{
     
}
section .contentBx .formBx img{
     position: absolute;
     top: 82px;
     left: 150px;
}
section .contentBx .titleFr{
     /* margin-bottom: 20px;
     margin-left: 40px;
     margin-top: -30px; */
}
section .contentFr .formFr .titleFr h1{

     position: absolute;
     top: 320px;
     width: 211px;
     height: 33px;
     left: 198px;
     font-size: 22px;
     font-weight: 700;
     line-height: 33px;
     color: #282739;
}
section .contentBx .formBx .inputBx{
     margin-bottom: 10px;
     margin-left: -50px;
}
section .contentBx .formBx .inputBX{
     margin-top: 50px;
     margin-left: -40px;
}
section .contentBx .formBx .inputBX input{
     width: 162px;
     height: 40px;
     border-radius: 8px;
     padding: 10px 24px 10px 24px;
     background-color:  #FF9138;
     border: 1.5px solid #FF9138;
     color: #E7E9F2;
     margin-left: 100px;
}
section .contentBx .formBx .inputBx span{
     display: flex;
     flex-direction: row;
     font-size: 18px;
     line-height: 27px;
     font-weight: 400;   
     color: #37474F;
}
section .contentBx .formBx .inputBx input{
     width: 400px;
     height: 44px;
     border-radius: 8px; 
     padding: 10px 270px 10px 12px;
     border: 1.5px solid #D4D4D7;
}
section .contentBx .formBx .inputBx button{
     width: 400px;
     height: 44px;
     border-radius: 8px; 
     padding: 10px 270px 10px 12px;
     border: 1.5px solid #D4D4D7;
}
section .imgBx{
     display: flex;
}
section .imgBx img{
     width: 848px;
     height: 810px;
}