*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Nunito;
}
section{
     width: 1440px;
     height: 810px;
     margin: auto;
}
.dashUs{
     width: 200px;
     height: 810px;
     background-color:#dbdbdb;
     justify-content: center;
     align-items: center;
     border-top-left-radius: 16px;
     border-bottom-left-radius: 16px;
}
.dashUs__form{
     display: flex;
     position: relative;
}
.dashUs__formImage{
     position: absolute;
     width: 79.19px;
     height: 53.14px;
     top: 32px;
     left: 60.81px;
}
.dashUs__formIcon{
     display: flex;
}
.dashUs__formIcon ul{
     position: absolute;
     align-items: center;
     justify-content: center;
     top: 150px;
     left: 0px;
     width: 200px;
}
.dashUs__formIcon ul li{
     display: flex;
     list-style: none;
     color: #7E7D88;
}
.dashUs__formIcon ul li:hover{
     background-color: #FF7506;
     color: #FFFFFF;
}
.dashUs__formIcon ul li:nth-child(1){
     width: 200px;
     height: 48px;
}
.dashUs__formIcon ul li:nth-child(1) span{
     width: 7.08px;
     height: 5px;
     position: absolute;
     top: 12px;
     left: 17px;
}
.dashUs__formIcon ul li:nth-child(1) p{
     width: 81px;
     height: 24px;
     position: absolute;
     top: 12px;
     left:44px;
     font-family: 600;
     font-size: 16px;
     line-height: 24px;
}
.dashUs__formIcon ul li:nth-child(2){
     width: 200px;
     height: 48px;
}
.dashUs__formIcon ul li:nth-child(2) span{
     width: 16.67px;
     height: 12.68px;
     position: absolute;
     top: 60px;
     left: 17px;
}
.dashUs__formIcon ul li:nth-child(2) p{
     width: 56px;
     height: 24px;
     position: absolute;
     top: 60px;
     left:44px;
     font-family: 600;
     font-size: 16px;
     line-height: 24px;
}
.dashUs__formIcon ul li:nth-child(3){
     width: 200px;
     height: 48px;
}
.dashUs__formIcon ul li:nth-child(3) span{
     width: 16.67px;
     height: 12.68px;
     position: absolute;
     top: 108px;
     left: 17px;
}
.dashUs__formIcon ul li:nth-child(3) p{
     width: 55px;
     height: 24px;
     position: absolute;
     top: 108px;
     left:44px;
     font-family: 600;
     font-size: 16px;
     line-height: 24px;
}
.dashUs__formIcon ul li:nth-child(4){
     width: 200px;
     height: 48px;
}
.dashUs__formIcon ul li:nth-child(4) span{
     width: 16.67px;
     height: 12.68px;
     position: absolute;
     top: 156px;
     left: 17px;
}
.dashUs__formIcon ul li:nth-child(4) p{
     width: 50px;
     height: 24px;
     position: absolute;
     top: 156px;
     left:44px;
     font-family: 600;
     font-size: 16px;
     line-height: 24px;
}
.dashUs__formIcon ul li:nth-child(5){
     width: 200px;
     height: 48px;
}
.dashUs__formIcon ul li:nth-child(5) span{
     width: 16.67px;
     height: 12.68px;
     position: absolute;
     top: 204px;
     left: 17px;
}
.dashUs__formIcon ul li:nth-child(5) p{
     width: 58px;
     height: 24px;
     position: absolute;
     top: 204px;
     left:44px;
     font-family: 600;
     font-size: 16px;
     line-height: 24px;
}
.dashUs__formIcon ul li:nth-child(6){
     width: 200px;
     height: 48px;
}
.dashUs__formIcon ul li:nth-child(6) span{
     width: 16.67px;
     height: 12.68px;
     position: absolute;
     top: 252px;
     left: 17px;
}
.dashUs__formIcon ul li:nth-child(6) p{
     width: 120px;
     height: 24px;
     position: absolute;
     top: 252px;
     left:44px;
     font-family: 600;
     font-size: 16px;
     line-height: 24px;
}
.dashUs__formLogout{
     display: flex;
}
.dashUs__formLogout ul{
     position: relative;
}
.dashUs__formLogout ul li{
     position: absolute;
     list-style: none;
     display: flex;
     width: 176px;
     height: 48px;
     top: 732px;
     left: 12px;
     background-color: #FFF2E7;
}
.dashUs__formLogout ul li span{
     width: 5px;
     position: absolute;
     height: 15px;
     top: 16.5px;
     left: 14.5px;
     color: #FF7506;
}
.dashUs__formLogout ul li p{
     position: absolute;
     width: 76px;
     height: 24px;
     top: 12px;
     left: 44px;
     font-family: 600;
     font-size: 16px;
     line-height: 24px;
     color: #FF7506;
}
/*--------------------------------------------------*/
section .dashBx{
     width: 829px;
     height: 810px;
     display: flex;
     background-color: #B1B1B1;
     opacity: 90%;
}
section .dashBx .boardBx{
     display: flex;
     position: relative;
}
section .dashBx .boardBx .headerBx{
     display: inline-block;
     /* position: absolute; */
}
section .dashBx .boardBx .headerBx h1{
     display: flex;
     top: 29px;
     left: 24px;
     position: absolute;
     font-size: 20px;
     line-height: 30px;
     font-weight: 700;
     color: #FF7506;
}
section .dashBx .boardBx .headerBx h2{
     display: flex;
     padding-top: 50px;
     position: relative;
     left: 24px;
     font-size: 24px;
     line-height: 36px;
     font-weight: 700;
     top: 45px;
     color: #FF7506;
}
section .dashBx .boardBx .footerBx{
     display: flex;
     position: absolute;
}
section .dashBx .boardBx .footerBx .rectangleBx{
     width: 186px;
     position: relative;
     top: 160px;
     left: 18px;
     height: 120px;
     background-color: #FFFFFF;
     border-radius: 10px;
     margin-left: 13px;
}
section .dashBx .boardBx .footerBx .rectangleBx span{
     width: 48px;
     height: 48px;
     background-color: wheat;
     display: flex;
     position: relative;
     margin: 8px 126px 64px 12px;
     border-radius: 20px;
}
section .dashBx .boardBx .footerBx .rectangleBx span img{
     width: 24px;
     height: 24px;
     display: flex;
     position: relative;
     margin: 12px 12px 12px 12px;
}
section .dashBx .boardBx .footerBx .rectangleBx p{
     font-size: 14px;
     font-weight: 700;
     line-height: 18px;
     width: 60px;
     height: 36px;
     top: 14px;
     position: absolute;
     left: 72px;
     color: #535261;
}
section .dashBx .boardBx .footerBx .rectangleBx h1{
     width: 108px;
     height: 45px;
     font-size: 30px;
     line-height: 45px;
     font-weight: 700;
     position: absolute;
     top: 68px;
     left: 12px;
}
section .dashBx .boardBx .footerBx .rectangleBx .numBx h3{
     width: 29px;
     height: 12px;
     top: 85px;
     left: 145px;
     font-size: 8px;
     font-weight: 400;
     line-height: 12px;
     display: flexbox;
     position: absolute;
}
section .dashBx .boardBx .footerBx .rectangleBx .numBx h4{
     width: 6px;
     height: 6px;
     top: 85px;
     left: 137px;
     font-size: 8px;
     font-weight: 400;
     line-height: 12px;
     display: flex;
     position: absolute;
}
section .dashBx .boardBx .finalBx{
     width: 791px;
     height: 484px;
     background-color: #FFFFFF;
     position: absolute;
     top: 300px;
     left: 25px;
     border-radius: 12px;
}
section .dashBx .boardBx .finalBx .firstBx {

}
section .dashBx .boardBx .finalBx .firstBx h1{
     width: 232px;
     height: 30px;
     font-size: 20px;
     line-height: 30px;
     font-weight: 700;
     top: 24px;
     position: absolute;
     left: 24px;
     color: #282739;
}
section .dashBx .boardBx .finalBx .firstBx p{
     width: 99px;
     height: 21px;
     font-size: 14px;
     line-height: 21px;
     font-weight: 400;
     top: 58px;
     color: #A9A9B0;
     position: absolute;
     left: 24px;
}
section .dashBx .boardBx .finalBx .firstBx h2{
     width: 70px;
     height: 24px;
     font-size: 16px;
     line-height: 24px;
     font-weight: 600;
     top: 33px;
     color: #282739;
     position: absolute;
     left: 583px;
}
section .dashBx .boardBx .finalBx .firstBx .checkBx{
     width: 106px;
     height: 42px;
     position: absolute;
     display: flex;
     justify-content: space-between;
     align-items: center;
     border-radius: 8px;
     border: 1.5px #D4D4D7 solid;
     left: 661px;
     top: 24px;
     color: #7E7D88;
     font-size: 16px;
     font-weight: 400;
     line-height: 24px;
     padding-left: 12px;
}
section .dashBx .boardBx .finalBx .firstBx .checkBx span{
     width: 14px;
     height: 8px;
     position: absolute;
     color: #FF7506;
     margin: 9px 18px 18px 60px;
}
section .dashBx .boardBx .finalBx .secondBx{
     
}
section .dashBx .boardBx .finalBx .secondBx ul{
     position: relative;
     left: 27px;
     top: 80px;
     width: 67px;
     height: 44px;
     font-weight: 400;
     font-size: 12px;
     line-height: 18px;
}
section .dashBx .boardBx .finalBx .secondBx ul li{
     list-style: none;
     position: relative;
     border-bottom: 1px solid #EAEAEC;
     width: 739px;
     margin-top: 28px;
}
section .dashBx .boardBx .finalBx .thirdthBx{
     
}
section .dashBx .boardBx .finalBx .thirdthBx ul{
     display: flex;
     position: relative;
     width: 15px;
     height: 18px;
     top: 343px;
     left: 35px;
     font-weight: 400;
     font-size: 12px;
     line-height: 18px;
}
section .dashBx .boardBx .finalBx .thirdthBx ul li{
     list-style: none;
     margin-left: 26px;
}
section .dashBx .boardBx .finalBx .thirdthBx ul li:nth-child(2){
     list-style: none;
     margin-left: 249px;
}
section .dashBx .boardBx .finalBx .thirdthBx ul li:nth-child(3){
     list-style: none;
     margin-left: 144px;
}
section .dashBx .boardBx .finalBx .thirdthBx ul li:nth-child(4){
     list-style: none;
     margin-left: 218px;
}
section .dashBx .boardBx .finalBx .fourthBx{
     
}
section .dashBx .boardBx .finalBx .fourthBx ul{
     display: flex;
     position: relative;
}
section .dashBx .boardBx .finalBx .fourthBx ul li:nth-child(1){
     width: 9px;
     height: 18px;
     list-style: none;
     position: absolute;
     top: 326px;
     font-size: 12px;
     line-height: 18px;
     font-weight: 400;
     left: 21px;
     color: #535261;
}
section .dashBx .boardBx .finalBx .fourthBx ul li:nth-child(2){
     width: 4px;
     height: 21px;
     list-style: none;
     position: absolute;
     top: 330px;
     font-size: 12px;
     line-height: 18px;
     font-weight: 400;
     left: 32px;
     color: #535261;
}
section .dashBx .boardBx .finalBx .fourthBx ul li:nth-child(3){
     width: 27px;
     height: 18px;
     list-style: none;
     position: absolute;
     top: 340px;
     font-size: 14px;
     line-height: 21px;
     font-weight: 200;
     left: 38px;
     color: #535261;
}
section .dashBx .boardBx .finalBx .fifthBx{
     position: absolute;
     top: 121px;
     left: 53px;
     font-size: 20px;
     width: 696px;
     height: 121px;
}
section .dashBx .boardBx .finalBx .fifthBx{
     
}
section .userBx{
     width: 401px;
     height: 810px;
     display: flex;
     background-color:#dbdbdb;
}
section .userBx .infoBx{
     display: flex;
     position: relative;
}
section .userBx .infoBx .rightBx{
     
}
section .userBx .infoBx .rightBx img{
     width: 12px;
     height: 14px;
     display: flex;
     position: absolute;
     top: 35px;
     left: 118px;
}
section .userBx .infoBx .rightBX img{
     width: 40px;
     height: 40px;
     display: flex;
     position: absolute;
     top: 24px;
     left: 165px;
}
section .userBx .infoBx .rightBX h1{
     width: 47px;
     height: 18px;
     display: flex;
     font-size: 12px;
     font-weight: 400;
     line-height: 18px;
     color: #7E7D88;
     position: absolute;
     top: 24px;
     left: 213px;
}
section .userBx .infoBx .rightBX h2{
     width: 124px;
     height: 24px;
     display: flex;
     font-size: 16px;
     font-weight: 700;
     line-height: 24px;
     position: absolute;
     color: #535261;
     top: 42px;
     left: 213px;
}
section .userBx .infoBx .generalBx{
     
}
section .userBx .infoBx .generalBx h1{
     position: relative;
     top: 104px;
     left: 24px;
     width: 118px;
     height: 36px;
     font-weight: 700;
     font-size: 24px;
     line-height: 36px;
     color: #FF7506;
}
section .userBx .bigcircleBx{
     position: absolute;
}
section .userBx .bigcircleBx .circleBx{
     width: 353px;
     height: 83px;
     background-color: #FFFFFF;
     top: 156px;
     position: relative;
     left: 24px;
     border-radius: 12px;
}
section .userBx .bigcircleBx .circleBx svg{
     width: 353px;
     height: 83px;
     position: relative;
}
section .userBx .bigcircleBx .circleBx svg circle{
     width:60px;
     height:60px;
     fill: none;
     stroke-width: 2;
     stroke: #FF7506;
     position: relative; 
     transform: translate(16px, 11px);
}
section .userBx .bigcircleBx .circleBx svg circle:nth-child(2){
     width:50px;
     height:50px;
     fill: none;
     stroke-width: 2;
     stroke: #7E7D88;
     transform: translate(21px, 16px);
}
section .userBx .bigcircleBx .circleBx h2{
     width: 31px;
     height: 24px;
     font-weight: 700;
     font-size: 14px;
     line-height: 24x;
     position: absolute;
     top: 29px;
     left: 31px;
     bottom: 30px;
     color: #535261;
     align-items: center;
     justify-content: center;
     display: flex;
}
section .userBx .bigcircleBx .circleBx h1{
     width: 64px;
     height: 36px;
     font-weight: 800;
     font-size: 24px;
     line-height: 36x;
     color: #535261;
     position: absolute;
     top: 14px;
     left: 88px;
     font-family: 'Nunito';
}
section .userBx .bigcircleBx .circleBx .dotBx{
     position: absolute;
     left: 192px;
     top: 10px;
     width: 4px;
     height: 4px;
     color: #FFD130;
}
section .userBx .bigcircleBx .circleBx .dotsBx{
     position: absolute;
     left: 192px;
     top: 38px;
     width: 4px;
     height: 4px;
     color: #7E7D88;
}
section .userBx .bigcircleBx .circleBx p{
     position: absolute;
     left: 200px;
     top: 18px;
     font-size: 12px;
     font-weight: 400;
     line-height: 21px;
     width: 87px;
     height: 21px;
     color: #7E7D88;
}
section .userBx .bigcircleBx .circleBx .numBx{
     position: absolute;
     left: 299px;
     top: 19px;
     width: 38px;
     height: 18px;
     font-size: 14px;
     line-height: 18px;
     font-weight: 700;
     color: #FF7506;
}
section .userBx .bigcircleBx .circleBx .numtwoBx{
     position: absolute;
     left: 299px;
     top: 45px;
     width: 26px;
     height: 18px;
     font-size: 14px;
     color: #FF7506;
     line-height: 18px;
     font-weight: 700;
}
section .userBx .bigcircleBx .circleBx .iconBx{
     width: 12px;
     height: 9px;
     position: absolute;
     color: #FF7506;
     display: flex;
     top: 14px;
     left: 89px;
}
section .userBx .bigcircleBx .circleBx .deviceBx{
     width: 49px;
     height: 21px;
     font-weight: 600;
     font-size: 14px;
     line-height: 24px;
     position: absolute;
     color: #FF7506;
     top: 47px;
     left: 106px;
}
/*-----------------------------------------*/
section .userBx .bigcircleBx .circlesBx{
     width: 353px;
     height: 83px;
     background-color: #FFFFFF;
     top: 251px;
     position: absolute;
     left: 24px;
     border-radius: 12px;
}
section .userBx .bigcircleBx .circlesBx svg{
     width: 353px;
     height: 83px;
     position: relative;
}
section .userBx .bigcircleBx .circlesBx svg circle{
     width:60px;
     height:60px;
     fill: none;
     stroke-width: 2;
     stroke: #4277FF;
     position: relative; 
     transform: translate(16px, 11px);
}
section .userBx .bigcircleBx .circlesBx svg circle:nth-child(2){
     width:50px;
     height:50px;
     fill: none;
     stroke-width: 2;
     stroke: #7E7D88;
     transform: translate(21px, 16px);
}
section .userBx .bigcircleBx .circlesBx h2{
     width: 31px;
     height: 24px;
     font-weight: 700;
     font-size: 14px;
     line-height: 24x;
     position: absolute;
     top: 29px;
     left: 31px;
     bottom: 30px;
     color: #535261;
     align-items: center;
     justify-content: center;
     display: flex;
}
section .userBx .bigcircleBx .circlesBx h1{
     width: 64px;
     height: 36px;
     font-weight: 800;
     font-size: 24px;
     line-height: 36x;
     color: #535261;
     position: absolute;
     top: 14px;
     left: 88px;
     font-family: 'Nunito';
}
section .userBx .bigcircleBx .circlesBx .dotBx{
     position: absolute;
     left: 192px;
     top: 10px;
     width: 4px;
     height: 4px;
     color: #4277FF;
}
section .userBx .bigcircleBx .circlesBx .dotsBx{
     position: absolute;
     left: 192px;
     top: 38px;
     width: 4px;
     height: 4px;
     color: #7E7D88;
}
section .userBx .bigcircleBx .circlesBx .numBx{
     position: absolute;
     left: 299px;
     top: 19px;
     width: 26px;
     height: 18px;
     font-size: 14px;
     line-height: 18px;
     font-weight: 700;
     color: #4277FF;
}
section .userBx .bigcircleBx .circlesBx .numtwoBx{
     position: absolute;
     left: 299px;
     top: 45px;
     width: 17px;
     height: 18px;
     font-size: 14px;
     color: #4277FF;
     line-height: 18px;
     font-weight: 700;
}
section .userBx .bigcircleBx .circlesBx .iconBx{
     width: 12px;
     height: 9px;
     position: absolute;
     color: #4277FF;
     display: flex;
     top: 14px;
     left: 89px;
}
section .userBx .bigcircleBx .circlesBx .deviceBx{
     width: 49px;
     height: 21px;
     font-weight: 600;
     font-size: 14px;
     line-height: 24px;
     position: absolute;
     color: #4277FF;
     top: 47px;
     left: 106px;
}
/*-----------------------------------------*/
section .userBx .bigcircleBx .circlessBx{
     width: 353px;
     height: 83px;
     background-color: #FFFFFF;
     top: 346px;
     position: absolute;
     left: 24px;
     border-radius: 12px;
}
section .userBx .bigcircleBx .circlessBx svg{
     width: 353px;
     height: 83px;
     position: relative;
}
section .userBx .bigcircleBx .circlessBx svg circle{
     width:60px;
     height:60px;
     fill: none;
     stroke-width: 2;
     stroke: #35C75A;
     position: relative; 
     transform: translate(16px, 11px);
}
section .userBx .bigcircleBx .circlessBx svg circle:nth-child(2){
     width:50px;
     height:50px;
     fill: none;
     stroke-width: 2;
     stroke: #7E7D88;
     transform: translate(21px, 16px);
}
section .userBx .bigcircleBx .circlessBx svg circle:nth-child(3){
     width:40px;
     height:40px;
     fill: none;
     stroke-width: 2;
     stroke: #F178B6;
     transform: translate(26px, 21px);
}
section .userBx .bigcircleBx .circlessBx h2{
     width: 31px;
     height: 24px;
     font-weight: 700;
     font-size: 14px;
     line-height: 24x;
     position: absolute;
     top: 29px;
     left: 31px;
     bottom: 30px;
     color: #535261;
     align-items: center;
     justify-content: center;
     display: flex;
}
section .userBx .bigcircleBx .circlessBx h1{
     width: 64px;
     height: 36px;
     font-weight: 800;
     font-size: 24px;
     line-height: 36x;
     color: #535261;
     position: absolute;
     top: 14px;
     left: 88px;
     font-family: 'Nunito';
}
section .userBx .bigcircleBx .circlessBx .dotBx{
     position: absolute;
     left: 192px;
     top: 10px;
     width: 4px;
     height: 4px;
     color: #4277FF;
}
section .userBx .bigcircleBx .circlessBx .dotsBx{
     position: absolute;
     left: 192px;
     top: 38px;
     width: 4px;
     height: 4px;
     color: #7E7D88;
}
section .userBx .bigcircleBx .circlessBx p{
     position: relative;
     left: 200px;
     top: -77px;
     font-size: 12px;
     font-weight: 400;
     line-height: 21px;
     width: 87px;
     height: 21px;
     color: #7E7D88;
     margin-top: 2.5px;
}
section .userBx .bigcircleBx .circlessBx .numBx{
     position: absolute;
     left: 299px;
     top: 11px;
     width: 38px;
     height: 18px;
     font-size: 14px;
     line-height: 18px;
     font-weight: 700;
     color: #35C75A;
}
section .userBx .bigcircleBx .circlessBx .numtwoBx{
     position: absolute;
     left: 301px;
     top: 32px;
     width: 26px;
     height: 18px;
     font-size: 14px;
     color: #35C75A;
     line-height: 18px;
     font-weight: 700;
}
section .userBx .bigcircleBx .circlessBx .numthreeBx{
     position: absolute;
     left: 301px;
     top: 53px;
     width: 17px;
     height: 18px;
     font-size: 14px;
     color: #35C75A;
     line-height: 18px;
     font-weight: 700;
}
section .userBx .bigcircleBx .circlessBx .iconBx{
     width: 12px;
     height: 9px;
     position: absolute;
     color: #35C75A;
     display: flex;
     top: 14px;
     left: 89px;
}
section .userBx .bigcircleBx .circlessBx .deviceBx{
     width: 49px;
     height: 21px;
     font-weight: 600;
     font-size: 14px;
     line-height: 24px;
     position: absolute;
     color: #35C75A;
     top: 47px;
     left: 106px;
}
/*---------------------------------------------------------------------*/
section .userBx .calenderBx{
     position: absolute;
}
section .userBx .calenderBx .caframeBx{
     width: 353px;
     height: 336px;
     position: relative;
     background-color:#FFFFFF;
     top: 445px;
     left: 24px;
     border-radius: 12px;
     padding: 16px 10px 16px 10px;
}
section .userBx .calenderBx .caframeBx .cafirstBx{
}
section .userBx .calenderBx .caframeBx .cafirstBx h1{
     position: absolute;
     top: 25px;
     left: 122.5px;
     color: #FF7506;
     font-size: 16px;
     line-height: 21.82px;
     font-weight: 700; 
}
section .userBx .calenderBx .caframeBx .casecondBx table tbody{
     display: block
}
section .userBx .calenderBx .caframeBx .casecondBx table tbody tr{
     display: table-row;
     position: relative;
     font-weight: 700;
     font-size: 14px;
     line-height: 19.1px;
     color: #FF9138;
     top: 58.5px;
     left: 27.5px;
     width: 20px;
     height: 19px;
}
section .userBx .calenderBx .caframeBx .casecondBx table tbody tr td{
     list-style: none;
     padding: 10px 10px;
     border-radius: 8px;
     width: 36px;
     height: 36px;
}
section .userBx .calenderBx .caframeBx .casecondBx table tbody tr td:hover{
     background-color: #FF9138;
}
section .userBx .calenderBx .caframeBx .casecondBx table tbody tr:nth-child(2){
     color:#535261 ;
}
section .userBx .calenderBx .caframeBx .casecondBx table tbody tr:nth-child(3){
     color:#535261 ;
}
section .userBx .calenderBx .caframeBx .casecondBx table tbody tr:nth-child(4){
     color:#535261 ;
}
section .userBx .calenderBx .caframeBx .casecondBx table tbody tr:nth-child(5){
     color:#535261 ;
}
section .userBx .calenderBx .caframeBx .casecondBx table tbody tr:nth-child(6){
     color:#535261 ;
}
/*-----------------------------------------------------------------------------*/
section .userBx .calenderBx .caframeBx .casecondBx table tbody tr:nth-child(2) td:nth-child(1){
     color: #7E7D88;
     padding: 10px 10px;
     border-radius: 8px;
     width: 36px;
     height: 36px;
}
section .userBx .calenderBx .caframeBx .casecondBx table tbody tr:nth-child(2) td:nth-child(2){
     color: #7E7D88;
     padding: 10px 10px;
     border-radius: 8px;
     width: 36px;
     height: 36px;
}
section .userBx .calenderBx .caframeBx .casecondBx table tbody tr:nth-child(2) td:nth-child(3){
     color: #7E7D88;
     padding: 10px 10px;
     border-radius: 8px;
     width: 36px;
     height: 36px;
}
section .userBx .calenderBx .caframeBx .casecondBx table tbody tr:nth-child(2) td:nth-child(4){
     color: #7E7D88;
     padding: 10px 10px;
     border-radius: 8px;
     width: 36px;
     height: 36px;
}
/*--------------------------------------*/
section .userBx .calenderBx .caframeBx .casecondBx table tbody tr:nth-child(5) td:nth-child(2){
     padding: 10px 10px;
     border-radius: 8px;
     width: 36px;
     height: 36px;
     background-color: #FF9138;
}