*{
     padding: 0; 
     margin: 0;
     box-sizing: border-box; 
     font-family: Nunito;
}
section{
     width: 1440px;
     height: 810px;
     display: flex;
     margin: auto;
}
section .contentBx{
     display: flex;
     position: relative;
     width: 592px;
     height: 810px;
     background-color: #F6F6F6;
     border-top-left-radius: 16px;
     border-bottom-left-radius: 16px;
     justify-content: center;
     align-items: center;
}
section .contentBx .formBx{
     
}
section .contentBx .formBx img{
     position: absolute;
     width: 180px;
     top: 82px;
     height: 124px;
     left: 300px;
}
section .contentBx .formBx .inputBX{
     position: absolute;
     padding: 10px 24px 10px 24px;
}
section .contentBx .formBx .inputBX button{
     width: 162px;
     height: 40px;
     background-color: #FF9138;
     border-radius: 8px;
     color: #FFFFFF;
     position: absolute;
     top: 91px;
     border: 0px solid #FF9138;
     left: 115px;
}
section .contentBx .formBx .inputBx span{
     display: flex;
     flex-direction: row;
     font-size: 18px;
     line-height: 27px;
     font-weight: 400;
     margin-top: 10px;   
}
section .contentBx .formBx .inputBx input{
     width: 400px;
     height: 44px;
     border-radius: 8px; 
     padding: 10px 270px 10px 12px;
     border: 1.5px solid #E73F3F;
     text-decoration: none;
}
section .contentBx .formBx .rememberLx h1{
     position: absolute;
     font-size: 14px;
     color: #E73F3F; 
     line-height: 21px;
     width: 102px;
     height: 21px;
     top: 482px;
     left: 95px;
     font-weight: 400;
}
section .imgBx{
     display: flex;
}
section .imgBx img{
     width: 848px;
     height: 810px;
}