*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Nunito;
}
section{
     width: 1440px;
     height: 810px;
     margin: auto;
}
.dashUs{
     width: 200px;
     height: 810px;
     background-color:#dbdbdb;
     justify-content: center;
     align-items: center;
     border-top-left-radius: 16px;
     border-bottom-left-radius: 16px;
}
.dashUs__form{
     display: flex;
     position: relative;
}
.dashUs__formImage{
     position: absolute;
     width: 79.19px;
     height: 53.14px;
     top: 32px;
     left: 60.81px;
}
.dashUs__formIcon{
     display: flex;
}
.dashUs__formIcon ul{
     position: absolute;
     align-items: center;
     justify-content: center;
     top: 150px;
     left: 0px;
     width: 200px;
}
.dashUs__formIcon ul li{
     display: flex;
     list-style: none;
}
.dashUs__formIcon ul li:hover{
     background-color: #FF7506;
     color: #FFFFFF;
}
.dashUs__formIcon ul li:nth-child(1){
     width: 200px;
     height: 48px;
}
.dashUs__formIcon ul li:nth-child(1) span{
     width: 7.08px;
     height: 5px;
     position: absolute;
     top: 12px;
     left: 17px;
}
.dashUs__formIcon ul li:nth-child(1) p{
     width: 81px;
     height: 24px;
     position: absolute;
     top: 12px;
     left:44px;
     font-family: 600;
     font-size: 16px;
     line-height: 24px;
}
.dashUs__formIcon ul li:nth-child(2){
     width: 200px;
     height: 48px;
}
.dashUs__formIcon ul li:nth-child(2) span{
     width: 16.67px;
     height: 12.68px;
     position: absolute;
     top: 60px;
     left: 17px;
}
.dashUs__formIcon ul li:nth-child(2) p{
     width: 56px;
     height: 24px;
     position: absolute;
     top: 60px;
     left:44px;
     font-family: 600;
     font-size: 16px;
     line-height: 24px;
}
.dashUs__formIcon ul li:nth-child(3){
     width: 200px;
     height: 48px;
}
.dashUs__formIcon ul li:nth-child(3) span{
     width: 16.67px;
     height: 12.68px;
     position: absolute;
     top: 108px;
     left: 17px;
}
.dashUs__formIcon ul li:nth-child(3) p{
     width: 55px;
     height: 24px;
     position: absolute;
     top: 108px;
     left:44px;
     font-family: 600;
     font-size: 16px;
     line-height: 24px;
}
.dashUs__formIcon ul li:nth-child(4){
     width: 200px;
     height: 48px;
}
.dashUs__formIcon ul li:nth-child(4) span{
     width: 16.67px;
     height: 12.68px;
     position: absolute;
     top: 156px;
     left: 17px;
}
.dashUs__formIcon ul li:nth-child(4) p{
     width: 50px;
     height: 24px;
     position: absolute;
     top: 156px;
     left:44px;
     font-family: 600;
     font-size: 16px;
     line-height: 24px;
}
.dashUs__formIcon ul li:nth-child(5){
     width: 200px;
     height: 48px;
}
.dashUs__formIcon ul li:nth-child(5) span{
     width: 16.67px;
     height: 12.68px;
     position: absolute;
     top: 204px;
     left: 17px;
}
.dashUs__formIcon ul li:nth-child(5) p{
     width: 58px;
     height: 24px;
     position: absolute;
     top: 204px;
     left:44px;
     font-family: 600;
     font-size: 16px;
     line-height: 24px;
}
.dashUs__formIcon ul li:nth-child(6){
     width: 200px;
     height: 48px;
}
.dashUs__formIcon ul li:nth-child(6) span{
     width: 16.67px;
     height: 12.68px;
     position: absolute;
     top: 252px;
     left: 17px;
}
.dashUs__formIcon ul li:nth-child(6) p{
     width: 120px;
     height: 24px;
     position: absolute;
     top: 252px;
     left:44px;
     font-family: 600;
     font-size: 16px;
     line-height: 24px;
}
.dashUs__formLogout{
     display: flex;
}
.dashUs__formLogout ul{
     position: relative;
}
.dashUs__formLogout ul li{
     position: absolute;
     list-style: none;
     display: flex;
     width: 176px;
     height: 48px;
     top: 732px;
     left: 12px;
     background-color: #FFF2E7;
}
.dashUs__formLogout ul li span{
     width: 5px;
     position: absolute;
     height: 15px;
     top: 16.5px;
     left: 14.5px;
     color: #FF7506;
}
.dashUs__formLogout ul li p{
     position: absolute;
     width: 76px;
     height: 24px;
     top: 12px;
     left: 44px;
     font-family: 600;
     font-size: 16px;
     line-height: 24px;
     color: #FF7506;
}
/*-----------------------------------------------*/
section .bodyUx{
     width: 1240px;
     height: 810px;
     background-color: #B1B1B1;
     border-bottom-right-radius: 16px;
     border-top-right-radius: 16px;
}
section .bodyUx .bodyUx-info{
     display: flex;
     position: relative;
}
section .bodyUx .bodyUx-info .bodyUx-info-right{
     position: absolute;
     top: 35.67px;
     left: 957.59px;
     width: 4.71px;
     height: 1.67px;
}
section .bodyUx .bodyUx-info .bodyUx-info-right-two img{
     position: absolute;
     top: 24px;
     left: 1004px;
     width: 40px;
     height: 40px;
}
section .bodyUx .bodyUx-info .bodyUx-info-right-two h1{
     position: absolute;
     width: 47px;
     height: 18px;
     top: 24px;
     left: 1052px;
     font-weight: 400;
     font-size: 12px;
     line-height: 18px;
     color: #7E7D88;
}
section .bodyUx .bodyUx-info .bodyUx-info-right-two h2{
     width: 124px;
     height: 24px;
     font-size: 16px;
     font-weight: 700;
     line-height: 24px;
     position: absolute;
     color: #535261;
     left: 1052px;
     top: 42px;
}
section .bodyUx .bodyUx-info .bodyUx-info-header{
     display: inline-flex;
}
section .bodyUx .bodyUx-info .bodyUx-info-header h1{
     position: absolute;
     width: 71px;
     height: 30px;
     top: 29px;
     left: 24px;
     font-weight: 700;
     line-height: 30px;
     font-size: 20px;
     color: #7E7D88;
}
section .bodyUx .bodyUx-info .bodyUx-info-header ul li{
     list-style: none;
}
section .bodyUx .bodyUx-info .bodyUx-info-header ul li:nth-child(1) img{
     position: absolute;
     top: 39.63px;
     left: 110.4px;
     width: 5.21px;
     height: 8.74px;
     color: #7E7D88;
}
section .bodyUx .bodyUx-info .bodyUx-info-header ul li:nth-child(2) img{
     position: absolute;
     top: 39.63px;
     left: 313.4px;
     width: 5.21px;
     height: 8.74px;
     color: #7E7D88;
}
section .bodyUx .bodyUx-info .bodyUx-info-header h2{
     position: absolute;
     width: 167px;
     height: 30px;
     top: 29px;
     left: 131px;
     font-weight: 700;
     line-height: 30px;
     font-size: 20px;
     color: #7E7D88;
}
section .bodyUx .bodyUx-info .bodyUx-info-header h3{
     position: absolute;
     width: 154px;
     height: 30px;
     top: 29px;
     left: 334px;
     font-weight: 700;
     line-height: 30px;
     font-size: 20px;
     color: #FF7506;
}
section .bodyUx .bodyUx-info .bodyUx-info-title h1{
     position: absolute;
     width: 169px;
     height: 36px;
     top: 104px;
     left: 24px;
     font-weight: 700;
     line-height: 36px;
     font-size: 24px;
     color: #FF7506;
}
/*--------------------------------------------------------------------*/
section .bodyUx .bodyUx-table{
     display: flex;
     position: relative;
}
section .bodyUx .bodyUx-table .bodyUx-table-form{
     position: absolute;
     width: 1152px;
     height: 556px;
     background-color: #FFFFFF;
     top: 156px;
     left: 24px;
     border-radius: 16px;
}
section .bodyUx .bodyUx-table .bodyUx-table-form .bodyUx-table-form-title h1{
     position: absolute;
     width: 160px;
     height: 30px;
     top: 16px;
     left: 24px;
     font-weight: 700;
     font-size: 20px;
     line-height: 30px;
     color: #FF7506;
}
section .bodyUx .bodyUx-table .bodyUx-table-form .bodyUx-table-form-content{
     display: flex;
     position: relative;
}
section .bodyUx .bodyUx-table .bodyUx-table-form .bodyUx-table-form-content ul{
     position: absolute;
}
section .bodyUx .bodyUx-table .bodyUx-table-form .bodyUx-table-form-content ul li{
     list-style: none;
     position: absolute;
}
section .bodyUx .bodyUx-table .bodyUx-table-form .bodyUx-table-form-content ul li:nth-child(1) h1{
     position: absolute;
     width: 81px;
     height: 24px;
     top: 66px;
     left: 24px;
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;
     color: #282739;
}
section .bodyUx .bodyUx-table .bodyUx-table-form .bodyUx-table-form-content ul li:nth-child(1) input{
     position: absolute;
     width: 540px;
     height: 44px;
     top: 98px;
     left: 24px;
     border-radius: 8px;
     padding: 10px 270px 10px 12px;
     color: #A9A9B0;
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
}
section .bodyUx .bodyUx-table .bodyUx-table-form .bodyUx-table-form-content ul li:nth-child(2) h1{
     position: absolute;
     width: 89px;
     height: 24px;
     top: 66px;
     left: 588px;
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;
     color: #282739;
}
section .bodyUx .bodyUx-table .bodyUx-table-form .bodyUx-table-form-content ul li:nth-child(2) input{
     position: absolute;
     width: 540px;
     height: 44px;
     top: 98px;
     left: 588px;
     border-radius: 8px;
     padding: 10px 270px 10px 12px;
     color: #A9A9B0;
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
}
section .bodyUx .bodyUx-table .bodyUx-table-form .bodyUx-table-form-content ul li:nth-child(3) h1{
     position: absolute;
     width: 85px;
     height:24px;
     top: 158px;
     left: 24px;
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;
     color: #282739;
}
section .bodyUx .bodyUx-table .bodyUx-table-form .bodyUx-table-form-content ul li:nth-child(3) input{
     position: absolute;
     width: 540px;
     height: 44px;
     top: 190px;
     left: 24px;
     border-radius: 8px;
     padding: 10px 270px 10px 12px;
     color: #A9A9B0;
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
}
section .bodyUx .bodyUx-table .bodyUx-table-form .bodyUx-table-form-content ul li:nth-child(4) h1{
     position: absolute;
     width: 112px;
     height:24px;
     top: 158px;
     left: 588px;
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;
     color: #282739;
}
section .bodyUx .bodyUx-table .bodyUx-table-form .bodyUx-table-form-content ul li:nth-child(4) input{
     position: absolute;
     width: 540px;
     height: 44px;
     top: 190px;
     left: 588px;
     border-radius: 8px;
     padding: 10px 270px 10px 12px;
     color: #A9A9B0;
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
}
section .bodyUx .bodyUx-table .bodyUx-table-form .bodyUx-table-form-content ul li:nth-child(5) h1{
     position: absolute;
     width: 79px;
     height:24px;
     top: 250px;
     left: 24px;
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;
     color: #282739;
}
section .bodyUx .bodyUx-table .bodyUx-table-form .bodyUx-table-form-content ul li:nth-child(5) input{
     position: absolute;
     width: 540px;
     height: 44px;
     top: 282px;
     left: 24px;
     border-radius: 8px;
     padding: 10px 270px 10px 12px;
     color: #A9A9B0;
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
}
section .bodyUx .bodyUx-table .bodyUx-table-form .bodyUx-table-form-content ul li:nth-child(6) h1{
     position: absolute;
     width: 75px;
     height:24px;
     top: 250px;
     left: 588px;
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;
     color: #282739;
}
section .bodyUx .bodyUx-table .bodyUx-table-form .bodyUx-table-form-content ul li:nth-child(6) input{
     position: absolute;
     width: 540px;
     height: 44px;
     top: 282px;
     left: 588px;
     border-radius: 8px;
     padding: 10px 270px 10px 12px;
     color: #A9A9B0;
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
}
section .bodyUx .bodyUx-table .bodyUx-table-form .bodyUx-table-form-content ul li:nth-child(7) h1{
     position: absolute;
     width: 122px;
     height:24px;
     top: 342px;
     left: 24px;
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;
     color: #282739;
}
section .bodyUx .bodyUx-table .bodyUx-table-form .bodyUx-table-form-content ul li:nth-child(8) p{
     position: absolute;
     width: 6px;
     height:6px;
     top: 475px;
     left: 24px;
     color: #FF4747;
}
section .bodyUx .bodyUx-table .bodyUx-table-form .bodyUx-table-form-content ul li:nth-child(8) h1{
     position: absolute;
     width: 179px;
     height:21px;
     top: 468px;
     left: 34px;
     color: #7E7D88;
     font-weight: 400;
     font-size: 14px;
     line-height: 21px;
}
/*-----------------------------------------------------*/
section .bodyUx .bodyUx-button{
     display: flex;
     position: relative;
}
section .bodyUx .bodyUx-button .bodyUx-button-center{
     display: flex;
     position: absolute;
}
section .bodyUx .bodyUx-button .bodyUx-button-center .bodyUx-button-center-one{
     display: flex;
     position: absolute;
}
section .bodyUx .bodyUx-button .bodyUx-button-center .bodyUx-button-center-one button{
     position: absolute;
     left: 434.5px;
     top: 730px;
     width: 147px;
     height: 48px;
     border-radius: 8px;
     color: #FF9138;
     background-color: #FFF2E7;
     border: 1.5px solid #FF9138;
     font-weight: 700;
     font-size: 16px;
     line-height: 21.82px;
     padding: 10px 24px 10px 24px;
}
section .bodyUx .bodyUx-button .bodyUx-button-center .bodyUx-button-center-two button{
     position: absolute;
     left: 613.5px;
     top: 730px;
     width: 147px;
     height: 48px;
     border-radius: 8px;
     color: #FFFFFF;
     background-color: #FF9138;
     border: 1.5px solid #FF9138;
     font-weight: 700;
     font-size: 16px;
     line-height: 21.82px;
     padding: 10px 24px 10px 24px;
}