*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Nunito;
}
section{
     width: 1440px;
     height: 810px;
     margin: auto;
}
.dashUs{
     width: 200px;
     height: 810px;
     background-color:#dbdbdb;
     justify-content: center;
     align-items: center;
     border-top-left-radius: 16px;
     border-bottom-left-radius: 16px;
}
.dashUs__form{
     display: flex;
     position: relative;
}
.dashUs__formImage{
     position: absolute;
     width: 79.19px;
     height: 53.14px;
     top: 32px;
     left: 60.81px;
}
.dashUs__formIcon{
     display: flex;
}
.dashUs__formIcon ul{
     position: absolute;
     align-items: center;
     justify-content: center;
     top: 150px;
     left: 0px;
     width: 200px;
}
.dashUs__formIcon ul li{
     display: flex;
     list-style: none;
}
.dashUs__formIcon ul li:hover{
     background-color: #FF7506;
     color: #FFFFFF;
}
.dashUs__formIcon ul li:nth-child(1){
     width: 200px;
     height: 48px;
}
.dashUs__formIcon ul li:nth-child(1) span{
     width: 7.08px;
     height: 5px;
     position: absolute;
     top: 12px;
     left: 17px;
}
.dashUs__formIcon ul li:nth-child(1) p{
     width: 81px;
     height: 24px;
     position: absolute;
     top: 12px;
     left:44px;
     font-family: 600;
     font-size: 16px;
     line-height: 24px;
}
.dashUs__formIcon ul li:nth-child(2){
     width: 200px;
     height: 48px;
}
.dashUs__formIcon ul li:nth-child(2) span{
     width: 16.67px;
     height: 12.68px;
     position: absolute;
     top: 60px;
     left: 17px;
}
.dashUs__formIcon ul li:nth-child(2) p{
     width: 56px;
     height: 24px;
     position: absolute;
     top: 60px;
     left:44px;
     font-family: 600;
     font-size: 16px;
     line-height: 24px;
}
.dashUs__formIcon ul li:nth-child(3){
     width: 200px;
     height: 48px;
}
.dashUs__formIcon ul li:nth-child(3) span{
     width: 16.67px;
     height: 12.68px;
     position: absolute;
     top: 108px;
     left: 17px;
}
.dashUs__formIcon ul li:nth-child(3) p{
     width: 55px;
     height: 24px;
     position: absolute;
     top: 108px;
     left:44px;
     font-family: 600;
     font-size: 16px;
     line-height: 24px;
}
.dashUs__formIcon ul li:nth-child(4){
     width: 200px;
     height: 48px;
}
.dashUs__formIcon ul li:nth-child(4) span{
     width: 16.67px;
     height: 12.68px;
     position: absolute;
     top: 156px;
     left: 17px;
}
.dashUs__formIcon ul li:nth-child(4) p{
     width: 50px;
     height: 24px;
     position: absolute;
     top: 156px;
     left:44px;
     font-family: 600;
     font-size: 16px;
     line-height: 24px;
}
.dashUs__formIcon ul li:nth-child(5){
     width: 200px;
     height: 48px;
}
.dashUs__formIcon ul li:nth-child(5) span{
     width: 16.67px;
     height: 12.68px;
     position: absolute;
     top: 204px;
     left: 17px;
}
.dashUs__formIcon ul li:nth-child(5) p{
     width: 58px;
     height: 24px;
     position: absolute;
     top: 204px;
     left:44px;
     font-family: 600;
     font-size: 16px;
     line-height: 24px;
}
.dashUs__formIcon ul li:nth-child(6){
     width: 200px;
     height: 48px;
}
.dashUs__formIcon ul li:nth-child(6) span{
     width: 16.67px;
     height: 12.68px;
     position: absolute;
     top: 252px;
     left: 17px;
}
.dashUs__formIcon ul li:nth-child(6) p{
     width: 120px;
     height: 24px;
     position: absolute;
     top: 252px;
     left:44px;
     font-family: 600;
     font-size: 16px;
     line-height: 24px;
}
.dashUs__formLogout{
     display: flex;
}
.dashUs__formLogout ul{
     position: relative;
}
.dashUs__formLogout ul li{
     position: absolute;
     list-style: none;
     display: flex;
     width: 176px;
     height: 48px;
     top: 732px;
     left: 12px;
     background-color: #FFF2E7;
}
.dashUs__formLogout ul li span{
     width: 5px;
     position: absolute;
     height: 15px;
     top: 16.5px;
     left: 14.5px;
     color: #FF7506;
}
.dashUs__formLogout ul li p{
     position: absolute;
     width: 76px;
     height: 24px;
     top: 12px;
     left: 44px;
     font-family: 600;
     font-size: 16px;
     line-height: 24px;
     color: #FF7506;
}
/*------------------------------------------------------------*/
section .bodyUs{
     width: 1240px;
     height: 810px;
     background-color: #B1B1B1;
     border-bottom-right-radius: 16px;
     border-top-right-radius: 16px;
}
.bodyUs__header{
     display: flex;
     position: relative;
}
.bodyUs__headerInfo__right{
     position: absolute;
     top: 35.67px;
     left: 957.59px;
     width: 4.71px;
     height: 1.67px;
}
.bodyUs__headerInfo__rightTwo img{
     position: absolute;
     top: 24px;
     left: 1004px;
     width: 40px;
     height: 40px;
}
.bodyUs__headerInfo__rightTwo h1{
     position: absolute;
     width: 47px;
     height: 18px;
     top: 24px;
     left: 1052px;
     font-weight: 400;
     font-size: 12px;
     line-height: 18px;
     color: #7E7D88;
}
.bodyUs__headerInfo__rightTwo h2{
     width: 124px;
     height: 24px;
     font-size: 16px;
     font-weight: 700;
     line-height: 24px;
     position: absolute;
     color: #535261;
     left: 1052px;
     top: 42px;
}
.bodyUs__headerInfo{
     display: inline-block;
}
.bodyUs__headerInfo h1{
     position: absolute;
     width: 70px;
     height: 30px;
     top: 29px;
     left: 24px;
     font-weight: 700;
     line-height: 30px;
     font-size: 20px;
     color: #7E7D88;
}
.bodyUs__headerInfo ul li{
     list-style: none;
}
.bodyUs__headerInfo ul li:nth-child(1) img{
     position: absolute;
     top: 39.63px;
     left: 109.4px;
     width: 5.21px;
     height: 8.74px;
     color: #7E7D88;
}
.bodyUs__headerInfo ul li:nth-child(2) img{
     position: absolute;
     top: 40.63px;
     left: 314.4px;
     width: 5.21px;
     height: 8.74px;
     color: #7E7D88;
}
.bodyUs__headerInfo ul li:nth-child(3) img{
     position: absolute;
     top: 40.63px;
     left: 417.4px;
     width: 5.21px;
     height: 8.74px;
     color: #7E7D88;
}
.bodyUs__headerInfo h2{
     position: absolute;
     width: 169px;
     height: 30px;
     top: 30px;
     left: 130px;
     font-weight: 700;
     line-height: 30px;
     font-size: 20px;
     color: #7E7D88;
}
.bodyUs__headerInfo h3{
     position: absolute;
     width: 67px;
     height: 30px;
     top: 29px;
     left: 335px;
     font-weight: 700;
     line-height: 30px;
     font-size: 20px;
     color: #7E7D88;
}
.bodyUs__headerInfo h4{
     position: absolute;
     width: 84px;
     height: 30px;
     top: 29px;
     left: 438px;
     font-weight: 700;
     line-height: 30px;
     font-size: 20px;
     color: #FF7506;
}
.bodyUs__headerInfo__title h1{
     position: absolute;
     width: 171px;
     height: 36px;
     top: 104px;
     left: 24px;
     font-weight: 700;
     line-height: 36px;
     font-size: 24px;
     color: #FF7506;
}
/*------------------------------------------------------*/
.bodyUs__table{
     display: flex;
     position: relative;
}
.bodyUs__tableForm{
     position: absolute;
     width: 1178px;
     height: 534px;
     background-color: #FFFFFF;
     top: 156px;
     left: 24px;
     border-radius: 16px;
     box-shadow: #E8EFF4;
     opacity: 80%;
}
.bodyUs__tableForm__title h1{
     position: absolute;
     width: 162px;
     height: 30px;
     top: 16px;
     left: 24px;
     font-weight: 700;
     font-size: 20px;
     line-height: 30px;
     color: #FF7506;
}
.bodyUs__tableForm__content{
     display: flex;
     position: relative;
}
.bodyUs__tableForm__content ul{
     position: absolute;
}
.bodyUs__tableForm__content ul li{
     position: absolute;
     list-style: none;
}
.bodyUs__tableForm__content ul li:nth-child(1) h1{
     position: absolute;
     width: 88px;
     height: 24px;
     top: 66px;
     left: 24px;
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;
     color: #282739;
}
.bodyUs__tableForm__content ul li:nth-child(1) h2{
     color: #FF4747;
     width: 6px;
     height: 6px;
     position: absolute;
     top: 67px;
     left: 110px;
}
.bodyUs__tableForm__content ul li:nth-child(1) input{
     position: absolute;
     width: 553px;
     height: 44px;
     top: 90px;
     left: 24px;
     border-radius: 8px;
     padding: 10px 270px 10px 12px;
     color: #D4D4D7;
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
}
.bodyUs__tableForm__content ul li:nth-child(2) h1{
     position: absolute;
     width: 91px;
     height: 24px;
     top: 146px;
     left: 24px;
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;
     color: #282739;
}
.bodyUs__tableForm__content ul li:nth-child(2) h2{
     color: #FF4747;
     width: 6px;
     height: 6px;
     position: absolute;
     top: 148px;
     left: 119px;
}
.bodyUs__tableForm__content ul li:nth-child(2) input{
     position: absolute;
     width: 553px;
     height: 44px;
     top: 178px;
     left: 24px;
     border-radius: 8px;
     padding: 10px 270px 10px 12px;
     color: #D4D4D7;
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
}
.bodyUs__tableForm__content ul li:nth-child(3) h1{
     position: absolute;
     width: 50px;
     height: 24px;
     top: 58px;
     left: 601px;
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;
     color: #282739;
}
.bodyUs__tableForm__content ul li:nth-child(3) input{
     position: absolute;
     width: 553px;
     height: 132px;
     top: 90px;
     left: 601px;
     border-radius: 8px;
     padding: 10px 270px 10px 12px;
     color: #D4D4D7;
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
}
.bodyUs__tableForm__role h1{
     position: absolute;
     width: 136px;
     height: 30px;
     left: 24px;
     top: 238px;
     font-weight:700;
     font-size: 20px;
     line-height: 30px;
     color: #FF7506;
}
.bodyUs__tableForm__checkbox{
     display: flex;
     position: relative;
}
.bodyUs__tableForm__checkbox input{
     position: absolute;
     width: 20px;
     height: 20px;
     left: 24px;
     top: 292px;
}
.bodyUs__tableForm__checkbox h1{
     position: absolute;
     width: 120px;
     height: 24px;
     left: 52px;
     top: 290px;
     font-weight:600;
     font-size: 16px;
     line-height: 24px;
     color: #282739;
}
/*-----------------------------------------------*/
.bodyUs__tableForm__checkboxTwo{
     display: flex;
     position: relative;
}
.bodyUs__tableForm__checkboxTwo input{
     position: absolute;
     width: 20px;
     height: 20px;
     left: 24px;
     top: 348px;
}
.bodyUs__tableForm__checkboxTwo h1{
     position: absolute;
     width: 46px;
     height: 24px;
     left: 52px;
     top: 346px;
     font-weight:600;
     font-size: 16px;
     line-height: 24px;
     color: #282739;
}
/*-----------------------------------------------*/
.bodyUs__tableForm__checkboxThree{
     display: flex;
     position: relative;
}
.bodyUs__tableForm__checkboxThree input{
     position: absolute;
     width: 20px;
     height: 20px;
     left: 24px;
     top: 404px;
}
.bodyUs__tableForm__checkboxThree h1{
     position: absolute;
     width: 48px;
     height: 24px;
     left: 52px;
     top: 402px;
     font-weight:600;
     font-size: 16px;
     line-height: 24px;
     color: #282739;
}
/*-----------------------------------------------*/
.bodyUs__tableForm__checkboxFour{
     display: flex;
     position: relative;
}
.bodyUs__tableForm__checkboxFour input{
     position: absolute;
     width: 20px;
     height: 20px;
     left: 24px;
     top: 450px;
}
.bodyUs__tableForm__checkboxFour h1{
     position: absolute;
     width: 113px;
     height: 24px;
     left: 52px;
     top: 448px;
     font-weight:600;
     font-size: 16px;
     line-height: 24px;
     color: #282739;
}
/*-----------------------------------------------*/
.bodyUs__tableForm__checkboxFive{
     display: flex;
     position: relative;
}
.bodyUs__tableForm__checkboxFive h1{
     position: absolute;
     width: 61px;
     height: 44px;
     left: 187px;
     top: 280px;
     font-weight:400;
     font-size: 16px;
     line-height: 24px;
     padding: 10px 12px 10px 12px;
     color: #535261;
     border: 1.5px solid #D4D4D7;
}
.bodyUs__tableForm__checkboxFive h2{
     position: absolute;
     width: 61px;
     height: 44px;
     left: 187px;
     top: 336px;
     font-weight:400;
     font-size: 16px;
     line-height: 24px;
     padding: 10px 12px 10px 12px;
     color: #535261;
     border: 1.5px solid #D4D4D7;
}
.bodyUs__tableForm__checkboxFive h3{
     position: absolute;
     width: 61px;
     height: 44px;
     left: 187px;
     top: 392px;
     font-weight:400;
     font-size: 16px;
     line-height: 24px;
     padding: 10px 12px 10px 12px;
     color: #535261;
     border: 1.5px solid #D4D4D7;
}
/*-------------------------------------------------*/
.bodyUs__tableForm__checkboxSix{
     display: flex;
     position: relative;
}
.bodyUs__tableForm__checkboxSix p{
     position: absolute;
     width: 28px;
     height: 24px;
     left: 260px;
     top: 290px;
     font-weight:600;
     font-size: 16px;
     line-height: 24px;
     color: #282739;
}
.bodyUs__tableForm__checkboxSix h1{
     position: absolute;
     width: 61px;
     height: 44px;
     left: 300px;
     top: 280px;
     font-weight:400;
     font-size: 16px;
     line-height: 24px;
     padding: 10px 12px 10px 12px;
     color: #535261;
     border: 1.5px solid #D4D4D7;
}
/*-------------------------------------------------*/
.bodyUs__tableForm__checkboxSeven{
     display: flex;
     position: relative;
}
.bodyUs__tableForm__checkboxSeven h1{
     position: absolute;
     width: 6px;
     height: 6px;
     left: 24px;
     top: 503px;
     color: #FF4747;
}
.bodyUs__tableForm__checkboxSeven p{
     position: absolute;
     width: 179px;
     height: 21px;
     left: 38px;
     top: 504px;
     font-weight:400;
     font-size: 14px;
     line-height: 21px;
     color: #7E7D88;
}
/*-------------------------------------------------*/
.bodyUs__button{
     display: flex;
     position: relative;
}
.bodyUs__buttonCancel{
     display: flex;
     position: absolute;
}
.bodyUs__buttonCancel__one button{
     position: absolute;
     left: 434.5px;
     top: 730px;
     width: 147px;
     height: 48px;
     border-radius: 8px;
     color: #FF9138;
     background-color: #FFF2E7;
     border: 1.5px solid #FF9138;
     font-weight: 700;
     font-size: 16px;
     line-height: 21.82px;
     padding: 10px 24px 10px 24px;
}
.bodyUs__buttonCancel__two button{
     position: absolute;
     left: 613.5px;
     top: 730px;
     width: 147px;
     height: 48px;
     border-radius: 8px;
     color: #FFFFFF;
     background-color: #FF9138;
     border: 1.5px solid #FF9138;
     font-weight: 700;
     font-size: 16px;
     line-height: 21.82px;
     padding: 10px 24px 10px 24px;
}